* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  padding-top: 196px;
  padding-bottom: 156px;
  background: url(img/sidestar.svg) top right no-repeat, url(img/starempty.svg) 156px 69px no-repeat, url(img/staremptybig.svg) 1013px 568px no-repeat, url(img/stargreen.svg) 948px 538px no-repeat, url(img/stargreenbig.svg) 63px 94px no-repeat, url(img/topback.jpeg);
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  max-width: 768px;
}
.top__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 64px;
  max-width: 720px;
}

.button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  padding: 18px 68px;
  margin-top: 36px;
}
.button:hover {
  background: #fff;
  color: #000;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-bottom: 24px;
  z-index: 0;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 720px;
}

.product {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  overflow: hidden;
}
.product:nth-child(4), .product:nth-child(6) {
  height: 540px;
  margin-top: -45px;
}
.product:hover {
  transform: scale(1.1);
}
.product__text {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  padding: 8px 16px 10px 16px;
}
.product__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  max-width: 306px;
}
.product-box {
  box-sizing: border-box;
  padding-top: 92px;
  padding-bottom: 52px;
  background: url(img/star.svg) 40px 822px no-repeat, url(img/starsmall.svg) 25px 770px no-repeat, url(img/starbig.svg) 982px 100px no-repeat, url(img/blackback.jpg);
}
.product-box__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  padding-top: 64px;
}
.product-box__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 32px 36px 32px;
  margin-top: auto;
}

.game {
  padding-top: 46px;
  padding-bottom: 144px;
  background: url(img/startopbig.svg) 1340px 126px no-repeat, url(img/startop.svg) 1297px 93px no-repeat, url(img/starbottombig.svg) 1339px 3346px no-repeat, url(img/starbottom.svg) 1269px 3394px no-repeat, url(img/blackback.jpg);
}
.game__content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.game__cart {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  overflow: hidden;
}
.game__info {
  width: 100%;
  padding: 48px;
}
.game__info-title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  max-width: 459px;
  padding-bottom: 24px;
}
.game__info-text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.game__info-text_width {
  max-width: 423px;
}

.footer {
  background: rgb(189, 237, 53);
  padding: 60px;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 1200px) {
  .center {
    padding-left: 64px;
    padding-right: 64px;
  }
  .top {
    background: url(img/mobstar.svg) top right no-repeat, url(img/starempty.svg) 156px 69px no-repeat, url(img/staremptybig.svg) 850px 470px no-repeat, url(img/stargreen.svg) 770px 450px no-repeat, url(img/stargreenbig.svg) 63px 94px no-repeat, url(img/topback.jpeg);
  }
  .top__title {
    font-size: 53px;
    line-height: 58px;
  }
  .top__text {
    font-size: 23px;
  }
  .title {
    font-size: 60px;
  }
  .text {
    font-size: 21px;
  }
  .product-box__content {
    align-items: baseline;
  }
  .product-box__bottom_white {
    padding-bottom: 80px;
  }
  .game__content {
    align-items: center;
  }
  .game__cart {
    flex-direction: column;
    align-items: center;
  }
  .game__cart:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .game__info-text {
    max-width: 423px;
  }
}
@media (max-width: 915px) {
  .product {
    width: 300px;
  }
  .product-box__bottom_white {
    padding-bottom: 36px;
  }
  .product:nth-child(4), .product:nth-child(6) {
    height: auto;
    margin-top: 0px;
  }
}
@media (max-width: 425px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding-top: 147px;
    padding-bottom: 131px;
    background: url(img/mobstar.svg) 220px -93px no-repeat, url(img/mobstarempty.svg) 91px 64px no-repeat, url(img/mobstaremptybig.svg) 303px 580px no-repeat, url(img/mobstargreen.svg) 272px 557px no-repeat, url(img/mobstargreenbig.svg) 37px 97px no-repeat, url(img/topback.jpeg);
  }
  .top__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .top__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
  }
  .button {
    font-size: 16px;
    padding: 16px 95px;
    margin-top: 0;
  }
  .button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-box {
    display: none;
  }
  .game {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .game__content {
    row-gap: 24px;
    align-items: center;
  }
  .game__cart {
    max-width: 343px;
    flex-direction: column;
    align-items: center;
  }
  .game__cart:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .game__info {
    padding: 29px;
  }
  .game__info-title {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 16px;
  }
  .game__info-text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 32px;
  }
  .title {
    padding-bottom: 48px;
    font-size: 40px;
    line-height: 49px;
  }
  .footer {
    padding: 40px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */